{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Ancient ", "Epic ", "Old ", "Eldrich ", "Aged ", "Antique ", "Archaic ", "Hoary ", "Timeworn ", "Bygone ", "Elderly ", "Superannuated ", "Early ", "Out-of-date ", "Early ", "Antiquated ", "Obsolete ", "Old-fashioned ", "Outmoded ", "Olden ", "Primitive ", "Battered ", "Bygone ", "Dated ", "Discarded ", "Disused ", "Dusty ", "Out-of-fashion ", "Kaput ", "Uncommon ", "Rare ", "Uncontemporary ", "Non-contemporary ", "Strange ", "Unique ", "Unusual ", "Extraordinary ", "Scarce " ],
      [ { "mode" : "alts" }, "Apex ", "Avian ", "Floran ", "Glitch ", "Human ", "Hylotl ", "Novakid ", "Fenerox ", "Agaran ", "Penguin ", "Shadow People ", "Alpacan ", "Ancient ", "Frogg " ],
      [ { "mode" : "alts" }, "coin", "bit", "pixel", "voxel", "measure", "silver", "piece", "cash", "change", "mintage" ]
    ]
  ]
}
